html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    height: 100px;
    width: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

div:hover {
    color: black;
    background-color: white;
    .animation
}

.animation {
    margin-right: 0;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}



